@using Data.Model
@model BlogModel


<div style="width:800px" class="mx-auto my-8">
    <input asp-for="PostData.Name" class="modal-fullscreen-lg-down py-2 px-4 text-center  w-full text-2xl  font-bold uppecase" />
    <p class="block my-6 font-semibold text-xs text-center">@Model.PostData.Description </p>
    <div>
        @Html.Raw(@Model.PostData.HTML)
    </div>
    <div>
        <hr class="w-full my-4" />
        <h1 class="text-xl uppercase mb-4">Komentarze</h1>

        <div class="flex flex-column items-end gap-3">
            <textarea class="w-full no-resize py-2 px-4 border border-solid border-black" placeholder="Twój komentarz" id="comment"></textarea>
            <button class="py-2 px-3 bg-cyan-700 text-white" onclick="PublishComment()">Publikuj</button>
        </div>

        @foreach (var comment in Model.PostData.Comments)
        {
            <div class="flex flex-col gap-2 my-4">
                <i class="icon-user text-xl fotn-bold">@comment.CreateBy.UserName</i>
                <p class="font-light text-xs" >@comment.CreateDate</p>
                <textarea  class="w-full no-resize py-2 px-4 bg-neutral-200" disabled>@comment.Content</textarea>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        let baseUlr = '@Url.Content("~")';

        function PublishComment() {
            let comment = $("#comment").val();
            $.ajax({
                url: baseUlr + "/Posts/AddComment",
                method: "post",
                dataType: "json",
                data: {
                    comment: comment,
                    postId: @Model.PostData.Id
                        },
                success: function(result) {
                    ToastSuccess("Komentarz zostanie zweryfikowany i opublikowany");
                    $("#comment").val("");
                }
            });
        }
    </script>
}
